body {
  margin: 0;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 4%;
}

.logo {
  width: 33%;
  display: flex;
  justify-content: space-between;
}

.logo img {
  width: 80px;
}
